

*.png
*.zip
*.csv
my_venv/
/venv/Lib/site-packages/packaging/__about__.py
/venv/Lib/site-packages/_pytest/_code/__init__.py
/venv/Lib/site-packages/_pytest/_io/__init__.py
/venv/Lib/site-packages/_pytest/assertion/__init__.py
/venv/Lib/site-packages/_pytest/config/__init__.py
/venv/Lib/site-packages/_pytest/mark/__init__.py
/venv/Lib/site-packages/_pytest/__init__.py
/venv/Lib/site-packages/atomicwrites/__init__.py
/venv/Lib/site-packages/attr/__init__.py
/venv/Lib/site-packages/colorama/__init__.py
/venv/Lib/site-packages/packaging/__init__.py
/venv/Lib/site-packages/pluggy/__init__.py
/venv/Lib/site-packages/py/_code/__init__.py
/venv/Lib/site-packages/py/_io/__init__.py
/venv/Lib/site-packages/py/_log/__init__.py
/venv/Lib/site-packages/py/_path/__init__.py
/venv/Lib/site-packages/py/_process/__init__.py
/venv/Lib/site-packages/py/_vendored_packages/__init__.py
/venv/Lib/site-packages/py/__init__.py
/venv/Lib/site-packages/pytest/__init__.py
/venv/Lib/site-packages/toml/__init__.py
/venv/Lib/site-packages/attr/__init__.pyi
/venv/Lib/site-packages/py/__init__.pyi
/venv/Lib/site-packages/pytest/__main__.py
/venv/Lib/site-packages/py/__metainfo.py
/venv/Lib/site-packages/_pytest/_argcomplete.py
/venv/Lib/site-packages/py/_code/_assertionnew.py
/venv/Lib/site-packages/py/_code/_assertionold.py
/venv/Lib/site-packages/py/_builtin.py
/venv/Lib/site-packages/attr/_compat.py
/venv/Lib/site-packages/packaging/_compat.py
/venv/Lib/site-packages/attr/_config.py
/venv/Lib/site-packages/py/_error.py
/venv/Lib/site-packages/attr/_funcs.py
/venv/Lib/site-packages/attr/_make.py
/venv/Lib/site-packages/attr/_next_gen.py
/venv/Lib/site-packages/py/_code/_py2traceback.py
/venv/Lib/site-packages/py/_std.py
/venv/Lib/site-packages/packaging/_structures.py
/venv/Lib/site-packages/pluggy/_tracing.py
/venv/Lib/site-packages/packaging/_typing.py
/venv/Lib/site-packages/_pytest/_version.py
/venv/Lib/site-packages/pluggy/_version.py
/venv/Lib/site-packages/py/_version.py
/venv/Lib/site-packages/attr/_version_info.py
/venv/Lib/site-packages/attr/_version_info.pyi
/venv/Lib/site-packages/py/_xmlgen.py
/venv/Lib/site-packages/colorama/ansi.py
/venv/Lib/site-packages/colorama/ansitowin32.py
/venv/Lib/site-packages/py/_vendored_packages/apipkg.py
/venv/Lib/site-packages/_pytest/config/argparsing.py
/venv/Lib/site-packages/py/_code/assertion.py
/venv/Lib/site-packages/attrs-20.2.0.dist-info/AUTHORS.rst
/venv/Lib/site-packages/_pytest/cacheprovider.py
/venv/Lib/site-packages/py/_path/cacheutil.py
/venv/Lib/site-packages/pluggy/callers.py
/venv/Lib/site-packages/_pytest/capture.py
/venv/Lib/site-packages/py/_io/capture.py
/venv/Lib/site-packages/py/_process/cmdexec.py
/venv/Lib/site-packages/_pytest/_code/code.py
/venv/Lib/site-packages/py/_code/code.py
/venv/Lib/site-packages/pytest/collect.py
/venv/Lib/site-packages/py/_path/common.py
/venv/Lib/site-packages/toml/common.py
/venv/Lib/site-packages/_pytest/compat.py
/venv/Lib/site-packages/attr/converters.py
/venv/Lib/site-packages/attr/converters.pyi
/venv/Lib/site-packages/_pytest/debugging.py
/venv/Lib/site-packages/toml/decoder.py
/venv/Lib/site-packages/_pytest/deprecated.py
/venv/Lib/site-packages/py/_vendored_packages/apipkg-1.4.dist-info/DESCRIPTION.rst
/venv/Lib/site-packages/py/_vendored_packages/iniconfig-1.0.0.dist-info/DESCRIPTION.rst
/venv/Lib/site-packages/toml-0.10.1.dist-info/DESCRIPTION.rst
/venv/Lib/site-packages/_pytest/doctest.py
/venv/Lib/site-packages/toml/encoder.py
/venv/Lib/site-packages/pytest-6.1.1.dist-info/entry_points.txt
/venv/Lib/site-packages/py/error.pyi
/venv/Lib/site-packages/_pytest/config/exceptions.py
/venv/Lib/site-packages/attr/exceptions.py
/venv/Lib/site-packages/attr/exceptions.pyi
/venv/Lib/site-packages/_pytest/mark/expression.py
/venv/Lib/site-packages/_pytest/faulthandler.py
/venv/Lib/site-packages/attr/filters.py
/venv/Lib/site-packages/attr/filters.pyi
/venv/Lib/site-packages/_pytest/config/findpaths.py
/venv/Lib/site-packages/_pytest/fixtures.py
/venv/Lib/site-packages/py/_process/forkedfunc.py
/venv/Lib/site-packages/_pytest/freeze_support.py
/venv/Lib/site-packages/_pytest/helpconfig.py
/venv/Lib/site-packages/pluggy/hooks.py
/venv/Lib/site-packages/_pytest/hookspec.py
/venv/Lib/site-packages/py/_vendored_packages/iniconfig.py
/venv/Lib/site-packages/iniconfig.py
/venv/Lib/site-packages/py/iniconfig.pyi
/venv/Lib/site-packages/colorama/initialise.py
/venv/Lib/site-packages/atomicwrites-1.4.0.dist-info/INSTALLER
/venv/Lib/site-packages/attrs-20.2.0.dist-info/INSTALLER
/venv/Lib/site-packages/colorama-0.4.3.dist-info/INSTALLER
/venv/Lib/site-packages/iniconfig-1.0.1.dist-info/INSTALLER
/venv/Lib/site-packages/packaging-20.4.dist-info/INSTALLER
/venv/Lib/site-packages/pluggy-0.13.1.dist-info/INSTALLER
/venv/Lib/site-packages/py/_vendored_packages/apipkg-1.4.dist-info/INSTALLER
/venv/Lib/site-packages/py/_vendored_packages/iniconfig-1.0.0.dist-info/INSTALLER
/venv/Lib/site-packages/py-1.9.0.dist-info/INSTALLER
/venv/Lib/site-packages/pyparsing-2.4.7.dist-info/INSTALLER
/venv/Lib/site-packages/pytest-6.1.1.dist-info/INSTALLER
/venv/Lib/site-packages/six-1.15.0.dist-info/INSTALLER
/venv/Lib/site-packages/toml-0.10.1.dist-info/INSTALLER
/venv/Lib/site-packages/py/io.pyi
/venv/Lib/site-packages/_pytest/junitxml.py
/venv/Lib/site-packages/py/_process/killproc.py
/venv/Lib/site-packages/atomicwrites-1.4.0.dist-info/LICENSE
/venv/Lib/site-packages/attrs-20.2.0.dist-info/LICENSE
/venv/Lib/site-packages/iniconfig-1.0.1.dist-info/LICENSE
/venv/Lib/site-packages/packaging-20.4.dist-info/LICENSE
/venv/Lib/site-packages/pluggy-0.13.1.dist-info/LICENSE
/venv/Lib/site-packages/py-1.9.0.dist-info/LICENSE
/venv/Lib/site-packages/pyparsing-2.4.7.dist-info/LICENSE
/venv/Lib/site-packages/pytest-6.1.1.dist-info/LICENSE
/venv/Lib/site-packages/six-1.15.0.dist-info/LICENSE
/venv/Lib/site-packages/packaging-20.4.dist-info/LICENSE.APACHE
/venv/Lib/site-packages/packaging-20.4.dist-info/LICENSE.BSD
/venv/Lib/site-packages/colorama-0.4.3.dist-info/LICENSE.txt
/venv/Lib/site-packages/toml-0.10.1.dist-info/LICENSE.txt
/venv/Lib/site-packages/py/_path/local.py
/venv/Lib/site-packages/py/_log/log.py
/venv/Lib/site-packages/_pytest/logging.py
/venv/Lib/site-packages/_pytest/main.py
/venv/Lib/site-packages/pluggy/manager.py
/venv/Lib/site-packages/packaging/markers.py
/venv/Lib/site-packages/atomicwrites-1.4.0.dist-info/METADATA
/venv/Lib/site-packages/attrs-20.2.0.dist-info/METADATA
/venv/Lib/site-packages/colorama-0.4.3.dist-info/METADATA
/venv/Lib/site-packages/iniconfig-1.0.1.dist-info/METADATA
/venv/Lib/site-packages/packaging-20.4.dist-info/METADATA
/venv/Lib/site-packages/pluggy-0.13.1.dist-info/METADATA
/venv/Lib/site-packages/py/_vendored_packages/apipkg-1.4.dist-info/METADATA
/venv/Lib/site-packages/py/_vendored_packages/iniconfig-1.0.0.dist-info/METADATA
/venv/Lib/site-packages/py-1.9.0.dist-info/METADATA
/venv/Lib/site-packages/pyparsing-2.4.7.dist-info/METADATA
/venv/Lib/site-packages/pytest-6.1.1.dist-info/METADATA
/venv/Lib/site-packages/six-1.15.0.dist-info/METADATA
/venv/Lib/site-packages/toml-0.10.1.dist-info/METADATA
/venv/Lib/site-packages/py/_vendored_packages/apipkg-1.4.dist-info/metadata.json
/venv/Lib/site-packages/py/_vendored_packages/iniconfig-1.0.0.dist-info/metadata.json
/venv/Lib/site-packages/toml-0.10.1.dist-info/metadata.json
/venv/Lib/site-packages/_pytest/monkeypatch.py
/venv/Lib/site-packages/_pytest/nodes.py
/venv/Lib/site-packages/_pytest/nose.py
/venv/Lib/site-packages/toml/ordered.py
/venv/Lib/site-packages/_pytest/outcomes.py
/venv/Lib/site-packages/_pytest/pastebin.py
/venv/Lib/site-packages/py/path.pyi
/venv/Lib/site-packages/_pytest/pathlib.py
/venv/Scripts/py.test.exe
/venv/Lib/site-packages/_pytest/py.typed
/venv/Lib/site-packages/attr/py.typed
/venv/Lib/site-packages/packaging/py.typed
/venv/Lib/site-packages/py/py.typed
/venv/Lib/site-packages/pytest/py.typed
/venv/Lib/site-packages/pyparsing.py
/venv/Scripts/pytest.exe
/venv/Lib/site-packages/_pytest/pytester.py
/venv/Lib/site-packages/_pytest/python.py
/venv/Lib/site-packages/_pytest/python_api.py
/venv/Lib/site-packages/atomicwrites-1.4.0.dist-info/RECORD
/venv/Lib/site-packages/attrs-20.2.0.dist-info/RECORD
/venv/Lib/site-packages/colorama-0.4.3.dist-info/RECORD
/venv/Lib/site-packages/iniconfig-1.0.1.dist-info/RECORD
/venv/Lib/site-packages/packaging-20.4.dist-info/RECORD
/venv/Lib/site-packages/pluggy-0.13.1.dist-info/RECORD
/venv/Lib/site-packages/py/_vendored_packages/apipkg-1.4.dist-info/RECORD
/venv/Lib/site-packages/py/_vendored_packages/iniconfig-1.0.0.dist-info/RECORD
/venv/Lib/site-packages/py-1.9.0.dist-info/RECORD
/venv/Lib/site-packages/pyparsing-2.4.7.dist-info/RECORD
/venv/Lib/site-packages/pytest-6.1.1.dist-info/RECORD
/venv/Lib/site-packages/six-1.15.0.dist-info/RECORD
/venv/Lib/site-packages/toml-0.10.1.dist-info/RECORD
/venv/Lib/site-packages/_pytest/recwarn.py
/venv/Lib/site-packages/_pytest/reports.py
/venv/Lib/site-packages/pytest-6.1.1.dist-info/REQUESTED
/venv/Lib/site-packages/packaging/requirements.py
/venv/Lib/site-packages/_pytest/assertion/rewrite.py
/venv/Lib/site-packages/_pytest/runner.py
/venv/Lib/site-packages/_pytest/_io/saferepr.py
/venv/Lib/site-packages/py/_io/saferepr.py
/venv/Lib/site-packages/attr/setters.py
/venv/Lib/site-packages/attr/setters.pyi
/venv/Lib/site-packages/_pytest/setuponly.py
/venv/Lib/site-packages/_pytest/setupplan.py
/venv/Lib/site-packages/six.py
/venv/Lib/site-packages/_pytest/skipping.py
/venv/Lib/site-packages/_pytest/_code/source.py
/venv/Lib/site-packages/py/_code/source.py
/venv/Lib/site-packages/packaging/specifiers.py
/venv/Lib/site-packages/_pytest/stepwise.py
/venv/Lib/site-packages/_pytest/store.py
/venv/Lib/site-packages/_pytest/mark/structures.py
/venv/Lib/site-packages/py/_path/svnurl.py
/venv/Lib/site-packages/py/_path/svnwc.py
/venv/Lib/site-packages/packaging/tags.py
/venv/Lib/site-packages/_pytest/terminal.py
/venv/Lib/site-packages/_pytest/_io/terminalwriter.py
/venv/Lib/site-packages/py/_io/terminalwriter.py
/venv/Lib/site-packages/py/test.py
/venv/Lib/site-packages/_pytest/timing.py
/venv/Lib/site-packages/_pytest/tmpdir.py
/venv/Lib/site-packages/atomicwrites-1.4.0.dist-info/top_level.txt
/venv/Lib/site-packages/attrs-20.2.0.dist-info/top_level.txt
/venv/Lib/site-packages/colorama-0.4.3.dist-info/top_level.txt
/venv/Lib/site-packages/iniconfig-1.0.1.dist-info/top_level.txt
/venv/Lib/site-packages/packaging-20.4.dist-info/top_level.txt
/venv/Lib/site-packages/pluggy-0.13.1.dist-info/top_level.txt
/venv/Lib/site-packages/py/_vendored_packages/apipkg-1.4.dist-info/top_level.txt
/venv/Lib/site-packages/py/_vendored_packages/iniconfig-1.0.0.dist-info/top_level.txt
/venv/Lib/site-packages/py-1.9.0.dist-info/top_level.txt
/venv/Lib/site-packages/pyparsing-2.4.7.dist-info/top_level.txt
/venv/Lib/site-packages/pytest-6.1.1.dist-info/top_level.txt
/venv/Lib/site-packages/six-1.15.0.dist-info/top_level.txt
/venv/Lib/site-packages/toml-0.10.1.dist-info/top_level.txt
/venv/Lib/site-packages/_pytest/assertion/truncate.py
/venv/Lib/site-packages/toml/tz.py
/venv/Lib/site-packages/_pytest/unittest.py
/venv/Lib/site-packages/_pytest/assertion/util.py
/venv/Lib/site-packages/packaging/utils.py
/venv/Lib/site-packages/attr/validators.py
/venv/Lib/site-packages/attr/validators.pyi
/venv/Lib/site-packages/packaging/version.py
/venv/Lib/site-packages/py/_log/warning.py
/venv/Lib/site-packages/_pytest/warning_types.py
/venv/Lib/site-packages/_pytest/warnings.py
/venv/Lib/site-packages/_pytest/_io/wcwidth.py
/venv/Lib/site-packages/atomicwrites-1.4.0.dist-info/WHEEL
/venv/Lib/site-packages/attrs-20.2.0.dist-info/WHEEL
/venv/Lib/site-packages/colorama-0.4.3.dist-info/WHEEL
/venv/Lib/site-packages/iniconfig-1.0.1.dist-info/WHEEL
/venv/Lib/site-packages/packaging-20.4.dist-info/WHEEL
/venv/Lib/site-packages/pluggy-0.13.1.dist-info/WHEEL
/venv/Lib/site-packages/py/_vendored_packages/apipkg-1.4.dist-info/WHEEL
/venv/Lib/site-packages/py/_vendored_packages/iniconfig-1.0.0.dist-info/WHEEL
/venv/Lib/site-packages/py-1.9.0.dist-info/WHEEL
/venv/Lib/site-packages/pyparsing-2.4.7.dist-info/WHEEL
/venv/Lib/site-packages/pytest-6.1.1.dist-info/WHEEL
/venv/Lib/site-packages/six-1.15.0.dist-info/WHEEL
/venv/Lib/site-packages/toml-0.10.1.dist-info/WHEEL
/venv/Lib/site-packages/colorama/win32.py
/venv/Lib/site-packages/colorama/winterm.py
/venv/Lib/site-packages/py/xml.pyi
